/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	
}

.cont{

	height: 100%;
	border: 5px solid black;
	max-width: 800px;	
	margin:auto;
	
}

@keyframes bounce {
	0% {right:50%; width:280px;} 
	50% {right:75%}
	100% {right:50%; width: 300px;}
}

@keyframes bounceshadow {
	0% {left:50%; width:280px;} 
	50% {left:75%}
	100% {left:50%; width: 300px;}
}

#something {
	background-color: rgb(6, 77, 59);
	width: 300px;	
	height: 300px;
	border-radius: 50%;
	position: absolute;
	right:50%;
	transition: background 3s, height 1s, transform 5s;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: infinite ;

} 

#something:hover{
	background: rgb(137, 0, 150);
	height: 500px;
	transform: translate(0px,800px);
	
}

#shadow{
	background-color: black;
	width: 300px;	
	height: 300px;
	border-radius: 50%;
	position: absolute;
	transition: height 1s, transform 5s;
	left:50%;
	animation-name: bounceshadow;
	animation-duration: 2s;
	animation-iteration-count: infinite ;
}

#shadow:hover{
	
	height: 500px;
	transform: translate(0px,800px);
	
}




