/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	background-color: #7E8C99;
	
	
}

header{
	padding: 5px;
}

#container {
	background-color: #486793;
	border-radius: 10px;
	text-align: center;
	max-width: 50%;
	margin: auto;
	height: 100%;
	max-width: 800px;
}

main {	

	padding: 10px;
}

section{
	background-color: #FEF49F;
	padding: 5px;
	border: 2px black solid;
	margin: 5px;
	
}

#AuthorSect{
	
	
}
#MySect{

	
}
p {
	
}
footer em{	
	padding: 1px;
	border-radius: 15px;	
	
}






/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	body {
	
		
		background: url("../img/OceanView.jpg") repeat top ;
		background-size: 100%;
	}
	#container {
		max-height: 800px;
	}
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
main{
	
	display: flex;
}
	

	
} /* closes 1024px+ */



