/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	background-color: #004727;
	color: white;
}


.black-ops-one-regular {
	font-family: "Black Ops One", serif;
	font-weight: 400;
	font-style: normal;
  }
  
.sigmar-regular {
	font-family: "Sigmar", serif;
	font-weight: 400;
	font-style: normal;
  }
  

.danfo {
	font-family: "Danfo", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "ELSH" 0;
  }

body {
	
	background-color: #00301b;
}


#container {
	text-align: center;
	
	width:800px;
	max-width: 800px;
	margin:auto;
	
}



.My{
	font-size: 170px;
	font-family: "danfo", "serif";
	color: #008223;
}

.Biggest{
	
	font-size: 301px;
	font-family: "Sigmar", "serif";
}

.Big{
	position: relative;
	right: 250px;
	rotate: -45deg;
	font-family: "danfo","serif";
	color: #026b1e;
	
}

.gest{
	position: absolute ;
	right:180px;
	top: 70%;
	rotate: 90deg;
	font-family: "Black Ops One", serif;
	color: #015c19;
}


.Fan {
	position: absolute;
	
	top: 65%;
	font-size: 300px;
	font-family: "Black Ops One", serif;
	color: #75ff9a;
}

.F{
	position: absolute;
	right: 50px;
	bottom: 100px;
	rotate: -20deg;
	
}

.A{
	position: absolute;
	top: 250px;
	rotate: 315deg;
	left: 25px;
}

.N{
	position: absolute;
	top: 250px;
	rotate: 225deg;
	right: 300px;
}

.s{
	position: absolute;
	bottom: 350px;
	rotate: -225deg;
	font-size: 30px;
	color: #75ff9a;
	font-family: "sigmar", "serif";
}

.pare{
	font-family: "sigmar", "serif";
}