/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	background-color: #004727;
	color: white;
}


.black-ops-one-regular {
	font-family: "Black Ops One", serif;
	font-weight: 400;
	font-style: normal;
  }
  
.sigmar-regular {
	font-family: "Sigmar", serif;
	font-weight: 400;
	font-style: normal;
  }
  

.danfo {
	font-family: "Danfo", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "ELSH" 0;
  }

body {
	
	
}


#container {
	
	
	background-color: #00301b;
	max-width: 700px;
	margin:auto;
	height: 950px;
}



.My{
	text-align: center;
	font-size: 170px;
	font-family: "danfo", "serif";
	color: #008223;
}

.Biggest{
	
	font-size: 301px;
	font-family: "Sigmar", "serif";
}

.Big{
	position: relative;
	
	rotate: -45deg;
	font-family: "danfo","serif";
	color: #026b1e;
	
}

.gest{
	position: absolute ;
	right:180px;
	top: 70%;
	rotate: 90deg;
	font-family: "Black Ops One", serif;
	color: #015c19;
}


.Fan {
	position: relative;
	
	top: 65%;
	font-size: 150px;
	font-family: "Black Ops One", serif;
	color: #75ff9a;
	
}

.F{
position: relative;
	rotate: 25deg;
	bottom: 150px;
}

.A{
	
}

.N{
	position: relative;
	rotate: 25deg;
	top: 150px;
	
}

.s{
	position: absolute;
	bottom:200px;
	rotate: -225deg;
	left: 400px;
	color: #75ff9a;
	font-family: "sigmar", "serif";
}

.Mom{
	position: absolute;
	font-family: "sigmar", "serif";
	font-size: 90px;
	opacity: 0.5;
	top:100%;
	rotate: -35deg;
}

.Dad{
	position: absolute;
	font-family: "danfo","serif";
	font-size: 90px;
	opacity: 0.5;
	left: 45%;
	top:80%;
	rotate: 35deg;
}


.Dad:hover{
	color: #75ff9a;
	font-size: 95px;
}

.Mom:hover{
	font-size: 95px;
	color: #75ff9a;
}