/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	background-color: #004727;
	color: white;
}


.black-ops-one-regular {
	font-family: "Black Ops One", serif;
	font-weight: 400;
	font-style: normal;
  }
  
.sigmar-regular {
	font-family: "Sigmar", serif;
	font-weight: 400;
	font-style: normal;
  }
  

.danfo {
	font-family: "Danfo", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
	  "ELSH" 0;
  }

body {
	
	background-color: #00301b;
}


#container {
	text-align: center;
	
	width:800px;
	max-width: 800px;
	margin:auto;
	
}



.My{
	font-size: 100px;
	font-family: "Sigmar", "serif";
}

.Biggest{
	
	font-size: 150px;
	font-family: "Sigmar", "serif";
}

.Big{
	position: relative;
	right: 250px;
	rotate: -45deg;
	background-color: #21fc99;
}

.gest{
	position: absolute;
	right:180px;
	top: 60%;
	rotate: 90deg;
	background-color: #21fc99;
}


.Fan {
	position: absolute;
	right: 50%;
	font-size: 200px;
	font-family: "Black Ops One", serif;
}

.F{
	position: absolute;
	bottom: 15px;
	rotate: -20deg;
	
}

.A{
	position: absolute;
	top: 2px;
	rotate: 315deg;
	left: 25px;
}

.N{
	position: absolute;
	top: 2px;
	rotate: 225deg;
	right: 3px;
}