/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		
	font-size: 1em;
    line-height: 1.4em;
	
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	background-color: rgb(237,237,237);
}

#Pgtitle{
	background-color: rgb(38, 70, 83);
	display: flex;
	flex-direction: column;
	
}
#Pgtitle header{
	display: flex;
	line-height:24px;
	height: 50px;
	justify-content: flex-start;
	align-items: center;
	font-size: 22px;	
	
}

header figure {
	height: 100%;	
	padding: 5px;
	margin: 5px;
}

main{
	
}

nav ul{

	list-style: none;
	display: flex;	
	justify-content: space-between;
	padding: 7px;
	font-size: 12px;
	margin: 0px;
}

nav{
	
}

h1,h2{
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
	color:rgb(82, 170, 170);

} 
img{
	height: 100%;
	width: 100%;
}
#leftSection figure img, #rightSection figure img{
	max-width: 140px;
}
section figure img{
	
}
#displayText{
	padding: .1px;
	color:rgb(38, 70, 83);
	background-color:  rgb(191, 191, 130);
}
#displayText strong{
	color:rgb(82, 170, 170);
}
#displaySection{
	font-size: 30px;
	line-height: 2rem;
}
#displaySection header{
	padding: 5px;
}
#displaySection section{
	text-align: center;
}
#displaySection figure{
	margin: auto;
	max-height: 500px;
	max-width: 500px;
}

#bottomSection{
	text-align: center;
	margin: auto;
	width: 90%;
	
}

#bottomSection a{
	
}

#bottomSection section{
	padding: 15px;
	margin: 5px;
	max-height: fit-content;
}

#bottomSection section p{
	
	

}



#leftSection{
	border-bottom: 2px rgb(191, 191, 130) solid;
}


#middleSection section {
	border-bottom: 2px rgb(191, 191, 130) solid;
	background-color: rgb(237,237,237);
	
}
#middleSection figure{
	max-width: 400px;
	max-height: 400px;
	margin: auto;
		
	}

#rightSection{
	border-bottom: 2px rgb(191, 191, 130) solid;
}

#container {
    background-color: rgb(237, 237, 237);	
	font-family: "Montserrat", sans-serif;
}

a {
	color: rgb(191, 191, 130);	
	text-decoration: none;
	font-size: 1.25em;
	display: inline-block;
	border-left: 2px rgb(191, 191, 130) solid ;
	border-right: 2px rgb(191, 191, 130) solid ;
	padding: 5px;	
	max-height: fit-content;
	align-self: center;
}

a:hover {
	/*	color:rgb(82, 170, 170); */
		animation: linkAnim .1s ;	
		animation-fill-mode: forwards;
}


footer{
	position: fixed;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
	bottom: 0px;
}
		
figcaption, footer{
	font-size: 0.75em;	
	text-align: center;
	background-color: rgb(38, 70, 83);
}

footer em, figcaption em {
	color: rgb(237, 237, 237);
	
	border-radius: 5px;
	
}

@keyframes linkAnim {
	0%{ color:rgb(82, 170, 170);
		border-left: 2px rgb(82, 170, 170) solid;
		border-right: 2px rgb(82, 170, 170) solid;
	}	

	100%{ color:rgb(82, 170, 170);
		border-left: 2px rgb(82, 170, 170) solid;
		border-right: 2px rgb(82, 170, 170) solid;
		padding-left: 10px;
		padding-right: 10px;
		opacity: 65% ;
		
	}
}





/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	nav ul{
		font-size: 26px;
		justify-content: space-around;
		
	}
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	a:hover {
		/*	color:rgb(82, 170, 170); */
			animation: linkAnim .5s ;	
			animation-fill-mode: forwards;
	}
	nav ul{
		font-size: 26px;
		justify-content: space-around;
		
	}

	#Pgtitle{
		margin: auto;
		max-width: 60%;
		height: 100px;
		justify-content: center;
	}

	#Pgtitle header{
		
	}


	#bottomSection{
		display: flex;
		justify-content: space-evenly;
	}
	#leftSection{
		order:0;
		flex-basis: 20%;
	}
	#middleSection{
		flex-basis: 60%;
		order: 1;
	}
	#middleSection figure{
		height: 300px;
		width: 300px;
		margin: auto;
			
		}
	#rightSection{
		flex-basis: 20%;
		order: 2;
	}
	
	
} /* closes 1024px+ */

figure.responsive {
	position: relative;
	padding-bottom: 56.25%;  /* 16:9 */
	height: 0px;
	overflow: hidden;
	max-width: 100%;
}
figure.responsive iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

