/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		
	font-size: 1em;
    line-height: 1.4em;
	height: 3000px;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	
	background-color: rgb(237,237,237);
}

header{
	display: flex;
	height: 100px;
	justify-content: flex-start;
	align-items: center;
	font-size: 36px;	
	color:rgb(82, 170, 170);
}

header figure {
	height: 100%;	
	margin: 5px;
}

#Pgtitle{
	/* position: sticky; */
	max-width: 100vw;
	
	background-color: rgb(38, 70, 83);
}
main{
	
}

nav ul{
	box-sizing: border-box;
	padding: 2px;
	list-style: none;
	display: flex;	
	justify-content: space-evenly;
	
}

nav{
	
}

h1,h2{
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;

} 
img{
	height: 100%;
	width: 100%;
}
#bottomSection{
	
}


#container {

	
    background-color: rgb(237, 237, 237);	
	font-family: "Montserrat", sans-serif;
}

a {
	color: rgb(191, 191, 130);
	
	text-decoration: none;
	font-size: 1.25em;
	display: inline-block;
	border-left: 2px rgb(191, 191, 130) solid ;
	border-right: 2px rgb(191, 191, 130) solid ;
	padding: 5px;
	
	max-height: fit-content;
	align-self: center;
}

a:hover {
	/*	color:rgb(82, 170, 170); */
		animation: linkAnim .5s ;	
		animation-fill-mode: forwards;
}


footer{
padding: 5px;

}
		
figcaption, footer{
	font-size: 0.75em;	
	text-align: center;
	background-color: rgb(38, 70, 83);
}

footer em, figcaption em {
	color: rgb(237, 237, 237);
	
	border-radius: 5px;
	
}

@keyframes linkAnim {
	0%{ color:rgb(82, 170, 170);
		border-left: 2px rgb(82, 170, 170) solid;
		border-right: 2px rgb(82, 170, 170) solid;
	}	

	100%{ color:rgb(82, 170, 170);
		border-left: 2px rgb(82, 170, 170) solid;
		border-right: 2px rgb(82, 170, 170) solid;
		padding-left: 10px;
		padding-right: 10px;
		opacity: 65% ;
		
	}
}





/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  .poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

